<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Import materialize.css -->
  <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.min.css"  media="screen,projection"/>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
  <div class="header"><h2>Bindr</h2></div>

  <div id="mapDisplay">
    <div id="map"></div>
  </div>
  <a id="addEventBtn" class="fixed btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>
  <!-- <a id="refreshBtn" class="fixed btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">refresh</i></a> -->
  <div class="container row">
    <div id="eventsBox" class="col s12">
      <h5>Event Listings</h5>
      <table class="highlight bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Distance</th>
            <th>Subject</th>
            <th>Start</th>
            <th>End</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody id="eventList">
          <!-- {% for event in events %}
          <tr>
            <td>{{event.hostname}}</td>
            <td>{{distance}}</td>
            <td>{{event.subject}}</td>
            <td>{{event.timeStart}}</td>
            <td>{{event.timeEnd}}</td>
            <td>{{event.description}}</td>
          </tr>
          {% endfor %} -->
          <tr>
            <td>Andrew</td>
            <td>5.3 mi</td>
            <td>Math</td>
            <td>4:30pm</td>
            <td>6:30pm</td>
            <td>bois only</td>
          </tr>
          <tr>
            <td>Andrew</td>
            <td>5.3 mi</td>
            <td>Math</td>
            <td>4:30pm</td>
            <td>6:30pm</td>
            <td>bois only</td>
          </tr>
          <tr>
            <td>Andrew</td>
            <td>5.3 mi</td>
            <td>Math</td>
            <td>4:30pm</td>
            <td>6:30pm</td>
            <td>bois only</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="space"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="../static/js/main.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPIKI9rNnmIyT-5frqg6aSqaAS3hUA69k&callback=initMap">
</script>
</body>
</html>